body{
  margin: 0px;
  padding: 0px;
  margin: 0px;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 20px;
  font-weight: bold;
}
.global_wrapper{
  width: 100%;
  min-height: 100vh;
}

.radio_group{
  display:flex;
  margin: 0px 10px;
}

.drop_menu{
  position: absolute;
  flex-direction: column;
  margin: 0px;
}

.map_wrapper{
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  width: 100%;
}

.background{
  background-color: rgba(0, 0, 0, 0);
  background-position: center center, center center;
  background-repeat: repeat, no-repeat;
  background-attachment: fixed, fixed;
  background-size: cover;
  background-origin: padding-box, padding-box;
  background-clip: border-box, border-box;
  position: fixed;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100%;
  z-index: -1;
  opacity: 60%;
}

.header{
  display:flex;
  height: 50px;
  align-items: center;
  background-color: #0009;
}

.main{
  display: flex;
  min-height: calc(100vh - 50px);
}

.weather{
  display:flex;
  width:100%;
  align-items: center;
  padding: 30px;
}

.map{
  display: flex;
  width: 50%;
  align-items: center;
  justify-content: center;
  padding: 30px;
}

.menu{
  display:flex;
  width:50%;
}

.search{
  display: flex;
  width: 50%;
  justify-content: flex-end;
}

.search_edit{
  font-size: 14pt;
  background-color: #fff;
  flex-grow: 2;
  width: 20%;
  height: 30px;
  box-sizing: border-box;
}
.search_edit::placeholder{
  font-size: 14pt;
  color: #0009;
}

.menu_wrapper{
  display: flex;
  margin: 0px 10px;
  width: 100%;
}
.search_wrapper{
  display: flex;
  margin: 0px 10px;
  width: 100%;
}
.search_item{
  margin: 5px 5px;
  outline-style: none;
  border-style: none;
  border-radius: 5px;
  outline-width: 0px;
  background-color: #ddd;
  display: flex;
  align-items: center;
  justify-content: center;
  transition-duration: 400ms;
  padding: 10px;
}

@media screen and (max-width: 768px){
  .main{
    display: flex;
    min-height: calc(100vh - 50px);
    flex-wrap: wrap;
    align-content: flex-start;
  }

  .weather{
    display:block;
    width:100%;
  }
  
  .map{
    display: flex;
    width: 100%;
  }

  .header{
    display:flex;
    height: auto;
    flex-wrap: wrap;
    align-content: flex-start;
    
  }
  .menu_wrapper{
    justify-content: center;
  }
  .menu{
    display:flex;
    width:100%;
    justify-content: center;

  }
  
  .search{
    display: flex;
    width: 100%;
    justify-content: center;
    order:-1;
  }
}

.map_container{
  height: 300px;
  width: 100%;
  border-radius: 20px;
}
