.weather_result{
  display: flex;
  justify-content: center;
}

.weather_colomn{
  display: flex;
  flex-direction: column;
}

.weather_ico{
  width: 14vw;
}

.weather_line{
  font-size: 2vw;
}

.weather_temp{
  font-size: 20vw;
}

.weather_future{
  display: flex;
  justify-content: center;
}

.weather_date{
  display: flex;
  justify-content: center;
  font-size:2vw;
}

.weather_today_wrapper{
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  width:100%;
}

.weather_city{
  font-size: 4vw;
}
.weather_future_block{
  font-size: 2vw; 
}

.weather_date_min{
  display: flex;
  justify-content: center;
}

.weather_ico_min{
  width: 5.5vw;
}

.weather_temp_min{
  font-size: 5.5vw;
}

@media screen and (max-width: 768px){
  .weather_ico{
    width: 13vw;
  }
  
  .weather_line{
    font-size: 3vw;
  }
  
  .weather_temp{
    font-size: 25vw;
  }

  .weather_city{
    font-size: 5vw;
  }

  .weather_ico_min{
    width: 7vw;
  }
  
  .weather_temp_min{
    font-size: 7vw;
  }
}