.slider_wrapper{
  display:flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  width:100%;
}
.slider_bottom_control{
  display:flex;
  justify-content: center;
  width:100%;
  height: 100%;
}
.slider_horizontal_wrapper{
  display:flex;
  position: relative;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width:100%;
  height: 100%;
}
.slider_slide{
  display:flex;
  position: absolute;
  align-items: center;
  justify-content: center;
  width:25%;
  height: 100%;
  top:0px;
  left: 0px;
  transition-duration: 500ms;
  transition-property: transform;
}
.slider_area{
  display: flex;
  position: relative;
  width:100%;
  height: 100%;
  min-height: 450px;
  overflow: hidden;
  transition-duration: 200ms;
}

@media screen and (max-width: 1020px){
  .slider_area{ 
    min-height: 350px
  }   
}

@media screen and (max-width: 768px){
  .slider_area{ 
    min-height: 270px
  }   
}

@media screen and (max-width: 480px){
  .slider_area{ 
    min-height: 240px;
  }   
}

@media screen and (max-width: 375px){
  .slider_area{ 
    min-height: 200px;
  }   
}


.slider_sides{
  display: flex;
  position: relative;
  flex-shrink: 0;
  height: 100%;
  justify-content: center;
  align-items: center;
  z-index: 10;
}
.slider_side_zeros{
  display:flex;
  position: relative;
  height: 100%;
  width:0px;
  overflow: visible;
  z-index: 10;
}
.slider_side_zeros_left{
  flex-direction: row;
}
.slider_side_zeros_right{
  flex-direction: row-reverse;
}

.slider_button{
  display: flex;
  position: relative;
  justify-content: center;
  align-items: center;
  /*width: calc(100% - 10px);*/
  padding: 10px;
  border-radius: 50%;
  margin: 5px 5px;
  background-color: #ab4;
  box-sizing: border-box;
  overflow: hidden;
  transition-duration: 300ms;
  user-select: none;
  color: #000;
  font-size: 14pt;
  width:50px;
  height:50px;
}

@media screen and (max-width: 768px){
  .slider_button{ 
    width: 40px;
    height: 40px;
    margin: 5px 2px;
  }   
}

@media screen and (max-width: 480px){
  .slider_button{ 
    width: 30px;
    height: 30px;
    margin: 5px 2px;
  }   
}

.slider_button__hover{
  background-color: #ccc;
  transform: scale(1);
  box-shadow: 0px 0px 12px #fffc;
}

.slider_button__down{
  background-color: rgb(48, 122, 182);
  transform: scale(0.95);
}

.slider_button__toggled{
  background-color: #4af;
  transform: scale(1);
}

.slider_button__dover{
  background-color: #4af;
  box-shadow: 0px 0px 12px #4afc;
  transform: scale(1);
}